@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 120px;
  background-color: --color-bg;
  width: 100vw;
  padding: 58px 10%;
  gap: 10px;
}

.includingReach{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.title{
  text-align: center;
  color: var(--color-text);
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.text{
  background-color: ;
}

.text h2 {
  font-size: 35px;
  /* text-align: center; */
  letter-spacing: 2.0px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.text p {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 26px;
}

.link {
  display: flex;
  align-items: center;
  gap: 25px;
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 23px;
  }

  .content{
    max-width: 300px;
  }

  .includingReach{
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 23px;     
  }

  .text {
    flex-direction: column;
    align-items: center;
  }

  .links {
    max-width: 300px;
    align-items: center;
  }
}

@media screen and (max-width: 1520px) {
  .includingReach{
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 23px;     
  }
}

@media screen and (max-width: 650px) {
  .link{
    flex-direction: column;
    align-items: center;    
  }

  .link a{
    font-size: 23px;
  }
}